<div>
  <div>
    <h1>
      List of all events
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          Details
        </th>

        <th>
          Party Type
        </th>

        <th>
          Event name
        </th>

        <th>
          Host
        </th>

        <th>
          Event date
        </th>

        <!--
        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>
        -->

        <th>
        </th>
      </tr>

      <% @list_of_events.each do |an_event| %>
      <tr>
        <td>
          <%= an_event.id %>
        </td>

        <td>
          <%if an_event.public_status%>
            Hidden
          <%else%>
          <%= an_event.details %>
          <%end%>
        </td>

        <td>
          <%if an_event.public_status %>
            Private 
          <%else%>
            Public 
          <%end%>
        </td>

        <td>
          <%= an_event.event_name %>
        </td>

        <td>
          <%if an_event.public_status%>
            Hidden
          <%else%>
            <%= User.where({ :id => an_event.creator_id }).at(0).username %>
          <%end%>

        </td>

        <td>
          <%= an_event.event_date %>
        </td>

         <!--
        <td>
          <%= time_ago_in_words(an_event.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_event.updated_at) %> ago
        </td>
        -->

        <td>
          <a href="/events/<%= an_event.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
