<div>
  <div>
    <h1>
      List of all events
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <table>
      <tr>

        <th>
          Event name
        </th>
        <th>
        </th>
         <th>
          Details
        </th>

        <th>
          Host
        </th>

        
       

        <th>
          Party Type
        </th>

        <th>
          Event date
        </th>


       
      </tr>

      <% @list_of_events.each do |an_event| %>
      <tr>

        <td>
          <%= an_event.event_name.capitalize %>
        </td>

        <td>
        - - - 
        </td>

        <td>
        <%= an_event.details %>
        </td>

       

        <td>
          <%= User.where({ :id => an_event.creator_id }).at(0).username %>
        </td>

        

      
<!--
        <td>
          <%if an_event.public_status%>
            Hidden
          <%else%>
          <%= an_event.details %>
          <%end%>
        </td>
-->
        <td>
          <%if an_event.public_status %>
            Private 
          <%else%>
            Public 
          <%end%>
        </td>

        




        <!--
          <%if an_event.public_status%>
            Hidden
          <%else%>
            <%= User.where({ :id => an_event.creator_id }).at(0).username %>
          <%end%>
        -->
        

        <td>
          <%= an_event.event_date %>
        </td>

         <!--
        <td>
          <%= time_ago_in_words(an_event.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_event.updated_at) %> ago
        </td>
        -->

        <td>
          <a href="/events/<%= an_event.id %>">
            More details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
