<div>
  <div>
    <h1>
      List of all my events
    </h1>
  </div>
</div>

<hr>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          Event
        </th>

        <th>
          Bookmarked at
        </th>
        <th>
        </th>
      </tr>

      <% @list_of_my_events.each do |a_bookmark| %>
      <tr>
        <td>
          <a href="/events/<%= a_bookmark.event_id %>">
            <%= a_bookmark.event.event_name %>

            (<%= a_bookmark.event.event_date %>)
          </a>
        </td>

        <td>
          <%= time_ago_in_words(a_bookmark.created_at) %> ago
        </td>

        <td>
          <a href="/delete_my_event/<%= a_bookmark.id %>">
             Leave Event    
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<!--
<div>
  <div>
    <h2>
      Add a new my event
    </h2>

    <form action="/insert_my_event" method="post">
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <div>
        <label for="event_id_box">
          Event
        </label>

        <input type="text" id="event_id_box" name="query_event_id">
      </div>

      <button>
        Create my event
      </button>
    </form>
  </div>
</div>


<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Event
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_my_events.each do |a_my_event| %>
      <tr>
        <td>
          <%= a_my_event.id %>
        </td>

        <td>
          <%= a_my_event.user_id %>
        </td>

        <td>
          <%= a_my_event.event_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_my_event.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_my_event.updated_at) %> ago
        </td>

        <td>
          <a href="/my_events/<%= a_my_event.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
-->

<hr>
