<% if session[:user_id] != nil %>

<div>
  <div>
    <h1>
      List of all event requests
    </h1>
  </div>
</div>
<hr>

  <div>
    <div>
      <h1>
        Requests to Accept
      </h1>
    </div>
  </div>
  <hr>
  <hr>
  <div>
    <div>
      <table>
          <tr>
          <th>
            Event 
          </th>
          <th>
            Status
          </th>
          <th>
            Sender
          </th>
          <th>
            Owner
          </th>
          <th>
            Accept
          </th>
          <th>
          </th>
        </tr>
        <% @list_of_event_requests.each do |an_event_request| %>
          <% if an_event_request.owner_id == @current_user.id %>
            <tr>
              <td>
                <a href="/events/<%= Event.where(:creator_id => an_event_request.owner_id).at(0).id %>">
                  <%= Event.where(:creator_id => an_event_request.owner_id).at(0).event_name %>
                </a>        </td>
              <td>
                <%if an_event_request.status %>
                  Pending
                <%else%>
                  Accepted
                <%end%>
              </td>
              <td>
                <%= User.where(:id => an_event_request.sender_id).at(0).username  %>
              </td>
              <td>
                <%= User.where(:id => an_event_request.owner_id).at(0).username %>
              </td>
              
              <td>
              <form action="/accept_request" method="post">
                <input type="hidden" name="query_event_id" value="<%= Event.where(:creator_id => an_event_request.owner_id).at(0).id %>">
                <input type="hidden" name="query_sender_id" value="<%= an_event_request.sender_id %>">
                <button>Accept Request</button>
             </form>

            </td>

            </tr>
          <%end%>
        <% end %>
      </table>
    </div>
  </div>
  <hr>
  <div>
    <div>
      <h1>
        Pending Requests
      </h1>
    </div>
  </div>
  <hr>
  <hr>
  <hr>
  <div>
    <div>
      <table>
        <tr>
          <th>
            Event
          </th>
          <th>
            Status
          </th>
          <th>
            Sender
          </th>
          <th>
            Owner
          </th>
          <th>
          Cancel Request
          </th>
          <th>
          </th>
        </tr>
        <% @list_of_event_requests.each do |an_event_request| %>
          <% if an_event_request.owner_id != @current_user.id %>
            <tr>
              <td>
                <a href="/events/<%= Event.where(:creator_id => an_event_request.owner_id).at(0).id %>">
                  <%= Event.where(:creator_id => an_event_request.owner_id).at(0).event_name %>
                </a>
              </td>
              <td>
                <%if an_event_request.status %>
                  Pending
                <%else%>
                  Accepted
                <%end%>
              </td>
              <td>
                <%= User.where(:id => an_event_request.sender_id).at(0).username  %>
              </td>
              <td>
                <%= User.where(:id => an_event_request.owner_id).at(0).username %>
              </td>

              <td>
              
               <form action="/delete_event_request/<%= an_event_request.id %>" method="get">
                <button>Cancel my Request</button>
             </form>
              </td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>
  <hr>
  <hr>
<%end%>
